<section class="work {{ portfolio.title | truncatewords: 1, '' | downcase }}" id="work-{{ portfolio.title | truncatewords: 1, '' | downcase }}" style="background: {{ portfolio.backgroundcss }};" data-project-name="{{ portfolio.title }}">
	<div class="container">
		<div class="row">
			<section class="project-description">
				<div class="six columns offset-by-five">
					<h1>{{ portfolio.title }}</h1>
					<p>{{ portfolio.longdesc }}</p>
				</div>
			</section>
		</div>
		<div class="row">
			<figure class="portfolio-image clearfix">
				<!-- <ul>
					{% for image in portfolio.images %}
					<li><img src="{{ image | asset_url }}" alt="{{ portfolio.title }}" /></li>
					{% endfor %}
				</ul> -->
				<img src="{{ "960x600" | placeholder:'cc0000','000000' }}" alt="blah" />
				<img src="{{ "960x600" | placeholder:'cc0000','000000' }}" alt="blah" />
				<img src="{{ "960x600" | placeholder:'cc0000','000000' }}" alt="blah" />
			</figure>
		</div>
	</div>
</section>